# Ignore node_modules directory
node_modules/

# Ignore dependency directories with cloned repositories
repos/

# Ignore any log files
*.log

# Ignore forge dependency directory
repos/metis-migration/lib
